@font-face {
  font-family: "Geist";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/geist/GeistVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Geist";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/geist/GeistVariable-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/geist-mono/GeistMonoVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/geist-mono/GeistMonoVariable-Italic.woff2") format("woff2");
}
